/* Full HD 1920 */
@media only screen and (max-device-width: 2559px),
only screen and (max-width: 2559px) {
  #section1 {
    max-height: 1079px;
  }

  .img1-banner img {
    width: calc(912px - 390px);
  }

  .img2-banner img {
    width: calc(1188px - 500px);
  }

  .img3-banner img {
    width: calc(1188px - 300px);
  }

  .section3-title {
    max-width: 900px;
  }

  .section3-title-h1 {
    font-size: 40px;
  }

  #section3 p,
  #section3 li {
    font-size: 18px;
  }

  .proposito {
    position: fixed;
    top: 250px;
  }

  .div-valores {
    right: 6%;
    max-width: 900px;
    margin-top: 0px;
  }
}

/* HD 1366 */
@media only screen and (max-device-width: 1919px),
only screen and (max-width: 1919px) {
  #section1 {
    max-height: 768px;
  }

  .section1-title-h1 {
    font-size: 25px;
  }

  .section-parallax {
    height: 240px;
  }

  .section-parallax .txt h1 {
    font-size: 30px;
  }

  .job {
    width: 300px;
    height: 300px;
  }

  #section4 h1 {
    font-size: 30px;
  }

  #section4 p {
    font-size: 16px;
  }

  .section4-txt {
    max-width: 460px;
  }

  .img1-banner img {
    width: calc(912px - 460px);
  }

  .img2-banner img {
    width: calc(1188px - 560px);
  }

  .img3-banner img {
    width: calc(1188px - 550px);
  }

  .img3-banner {
    margin-top: 20px;
  }

  .section3-title {
    max-width: 600px;
    left: 25.5%;
  }

  .section3-title-h1 {
    font-size: 25px;
  }

  #section3 p,
  #section3 li {
    font-size: 16px;
  }

  .sobre-nos {
    position: fixed;
    top: -50px;
  }

  .proposito {
    position: fixed;
    top: 200px;
  }

  .div-valores {
    right: 6%;
    max-width: 600px;
    margin-top: -40px;
  }

  .valores {
    max-width: 430px;
  }
}

/* Tablet 1024*/
@media (max-width: 1366px) {
  #section1 {
    max-height: 570px;
  }

  .section1-title-h1 {
    font-size: 20px;
  }

  .button-reel {
    font-size: 15px;
    max-width: 150px;
  }

  #section4 {
    padding: 60px 0 0 0;
  }

  .section4-imgs {
    transform: scale(0.8);
  }

  .section4-txt {
    margin-right: 0px;
  }

  #section2 {
    padding: 30px 0 80px 0;
  }

  .job {
    width: 200px;
    height: 200px;
  }

  .img1-banner img {
    width: calc(912px - 708px);
  }

  .img2-banner {
    margin-top: 10px;
    right: 4%;
  }

  .img2-banner img {
    width: calc(1188px - 920px);
    margin-top: 0px;
    right: 4%;
  }

  .img3-banner {
    margin-top: 370px;
  }

  .img3-banner img {
    width: calc(1188px - 700px);
  }

  .sobre-nos {
    width: 690px;
  }

  .section3-title {
    max-width: 90%;
    left: 49%;
  }

  .proposito {
    position: fixed;
    top: 200px;
  }

  .div-valores {
    right: 8%;
    max-width: 400px;
    margin-top: 190px;
  }

  #section4 p {
    font-size: 15px;
  }

  hr {
    margin-bottom: 20px;
  }

  .div-valores h1 {
    margin-right: 58px;
  }

  .div-valores hr {
    margin-right: 175px;
  }

  footer .container {
    padding: 0 80px;
  }
}

/* Small Tablet 768 */
@media (max-width: 1023px) {
  .nav-menu {
    position: absolute;
    top: -10px;
    right: -430px;
    width: 400px;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #222;
    transition: 0.2s;
    opacity: 0.97;
    z-index: 10;
    border-radius: 140px / 210px 0px 0px 100px;
  }

  #sandwichmenu {
    display: block;
    z-index: 999;
  }

  .nav-menu ul {
    flex-direction: column;
  }

  .nav-menu>menu>ul>a>li {
    margin: 0;
  }

  #section1 {
    max-height: 430px;
  }

  .section4-content {
    flex-direction: column;
  }

  .section1-title {
    width: 80%;
    left: 5%;
    margin-top: 38%;
  }

  .section1-title-h1 {
    font-size: 15px;
  }

  .button-reel {
    margin-top: 10px;
  }

  .bg-parallax {
    background-position: left;
  }

  .window {
    background-color: rgba(255, 255, 255, 0.4);
  }

  .sobre-nos {
    width: 690px;
    top: -23px;
  }

  .proposito {
    top: 270px;
  }

  .proposito .section3-title-h1 {
    margin-right: 354px;
  }

  .proposito hr {
    margin-bottom: 70px;
    margin-right: 470px;
  }

  .img2-banner img {
    width: calc(1188px - 820px);
    margin-top: 110px;
    right: 4%;
  }

  .img3-banner img {
    width: calc(1188px - 810px);
  }

  .img3-banner {
    margin-top: 330px;
  }

  .div-valores {
    right: 1%;
    margin-top: 160px;
  }

  .valores {
    max-width: 380px;
  }

  .icon-wpp {
    max-width: 50px;
  }

}

/* Large Smartphone 480*/
@media (max-width: 768px) {
  .reel>video {
    width: 180%;
    right: 180px;
  }

  .section4-content {
    width: 80%;
  }

  .section2-title-h1 {
    font-size: 30px;
  }

  .section-parallax {
    height: 130px;
  }

  .bg-parallax {
    background-position-x: -110px;
  }

  .section-parallax .txt h1 {
    font-size: 20px;
  }

  .sobre-nos {
    width: 440px;
    top: -70px;
  }

  .section3-title-h1 {
    font-size: 20px;
  }

  .sobre-nos hr {
    margin-right: auto;
  }

  .sobre-nos p {
    text-align: center;
  }

  .img1-banner {
    padding-top: 290px;
  }

  .img1-banner img {
    width: calc(912px - 600px);
  }

  .img2-banner img {
    width: calc(1188px - 770px);
    margin-top: 0px;
    margin-right: 40px;
  }

  .proposito {
    top: 650px;
    width: 440px;
  }

  .proposito .section3-title-h1 {
    margin-right: 0px;
  }

  .proposito hr {
    margin-bottom: 10px;
    margin-right: auto;
  }

  .proposito p {
    text-align: center;
  }

  .div-valores {
    margin-top: 310px;
    width: 440px;
  }

  .img3-banner img {
    width: calc(1188px - 708px);
  }

  .div-valores {
    margin-top: 310px;
    width: 440px;
    right: 4%;
  }

  .img3-banner {
    margin-top: 660px;
  }

  .footer-description p {
    text-align: center;
  }
}

/* Smartphone 420*/
@media (max-width: 479px) {
  header {
    height: 40px;
  }

  #logo>a>img {
    width: 120px;
  }

  .nav-menu {
    height: 30vh;
  }

  .reel>video {
    width: 185%;
  }

  .sobre-nos,
  .proposito {
    width: 370px;
  }

  .img1-banner {
    padding-top: 310px;
  }

  .img3-banner {
    padding-top: 50px;
  }

  .img1-banner img {
    width: calc(912px - 680px);
  }

  .img2-banner img {
    width: calc(1188px - 880px);
    margin-top: 0px;
    margin-right: 26px;
  }

  .img3-banner img {
    width: calc(1188px - 800px);
  }

  .proposito .section3-title-h1 {
    margin-top: 0px;
  }

  .div-valores {
    margin-top: 370px;
    width: 370px;
  }

  .footer-links {
    flex-wrap: nowrap;
  }

  .div-valores h1 {
    margin-right: 40px;
  }

  .div-valores hr {
    margin-right: 152px;
  }

  .valores {
    max-width: 350px;
  }

  #section3 li {
    font-size: 15px;
  }
}


@media (max-width: 320px) {
  /* Estilos para smartphones */
}