.section-parallax {
  position: relative;
  height: 400px;
  /* Altura da seção */
  overflow: hidden;
}

.bg-parallax {
  background-image: url('../assets/banner/bgparallax.jpg');
  background-size: cover;
  background-attachment: fixed;
  /* Isso ajuda a criar o efeito parallax */
  background-position: center;
  width: 100%;
}

.window {
  height: 400px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  /* Adiciona um fundo semi-transparente para a div interna */
}

.txt {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  margin-right: 15%;
  right: 0;
}

.txt h1 {
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  line-height: 1.2;
  font-size: 40px;
  text-shadow: 2px 2px 7px #000;
  text-align: right;
}